---
import Layout from '../layouts/Layout.astro';
import Card from '../components/fcard.astro'
import FAQ from '../components/faq.astro';
import Content from '../components/try.astro';
import faq from '../components/faq.json';
import testm from '../components/testm.json';
let x= await Astro.glob('../content/p0.md');
let header = x[0];
let x0= await Astro.glob('../content/p1.md');
let p0 = x0[0];
let x1 = await Astro.glob('../content/p2.md');
let p1 = x1[0];
let f = await Astro.glob('../content/footer.md');
let footer = f[0];
let x2 = await Astro.glob('../content/p3.md');
let p2 = x2[0];
let x3 = await Astro.glob('../content/p4.md');
let p3 = x3[0];
let x4 = await Astro.glob('../content/p5.md');
let p4 = x4[0];
let x5 = await Astro.glob('../content/p6.md');
let p5 = x5[0];

---

<Layout title="Coding Bridge">
	<main>
		
		<div class="content">
		<!-- <Content title="The Internet" desc="The basics of computer networks and protocols, introducing URLs, DNS, TCP, and UDP" body="" /> -->
			<header >
				<header.Content/>
			</header>
		<div class="p0" >
			<p0.Content/>
		</div>
		
		<div class="p1">
			<p1.Content/>
		</div>
		<div class="p2" >
			<p2.Content/>
		</div> 
		<div class="p3" id="program">
			<p3.Content/>
		</div>
		<div class="p1">
			<p4.Content/>
		</div >
		<div id="testimonials">
			<p5.Content/>
		</div >
		
		<div class="cards">
		{testm.map((data) => <Card author={data[1]} content={data[0]} />)}
	</div>
			<div id="faq"><h1>Frequently asked questions </h1></div>
		  
			<div class="cards">
	{faq.map((data) => <FAQ title={data[0]} content={data[1]} />)}
</div>
		  <footer>
			<footer.Content/>
		  </footer>
	</div>
	</main>
</Layout>
<style>
	main{
		
		font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
	}
	
	.content
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		justify-items: center;
		gap:3rem;
	}
	
	

	 .p1 {
		padding: 2rem;
		font-size: 1.25rem;
    line-height: 2rem;
	text-align: left;
	max-width: 32rem;
background-color: #F4F4F5;
	}
	.p2
	{
		text-align: center;
		font-size: 1.25rem;
	max-width: 32rem;
	background-color: rgba(0, 0, 0, 0.808);
	color: rgba(255, 255, 255, 0.753);
	padding: 2rem;
	

	}
	.p3
	{
		background-color: #FAFAFA;
		max-width: 32rem;
		font-size: 1.25rem;
		padding: 4rem 2.5rem;
	}
	.p4 {
		text-align: center;
	}
	.cards {
 display: grid;
 grid-template-columns: repeat(3,minmax(0,1fr));
 padding: 32px;
  gap: 20px;
}
#faq, #testimonials
{
	text-align: center;
}
@media (max-width: 600px) {
	.cards {
 display: grid;
 grid-template-columns: repeat(1,minmax(0,1fr));
 padding: 32px;
  gap: 20px;
}
		.p0 img
		{
			width: 100%;

		}
        }
</style>


