---
import Layout from '../layouts/Layout.astro';
import Content from '../components/try.astro';
import Menu from '../components/internet.astro';
let posts = await Astro.glob('./intro.md');
let post = posts[0];
---
<Layout title="Valley of Code">
	<main>
		<Menu />
		<div class="content">
		<Content title="The Internet" desc="The basics of computer networks and protocols, introducing URLs, DNS, TCP, and UDP" body="" />
		<post.Content />
	</div>
	</main>
	<script>
        const urlitem = document.getElementById('intro-item');
            urlitem.classList.add('active');
    </script>
</Layout>



