---
import Layout from '../../layouts/layout'
---
<style>
    a
    {
        color:#60A5FA;
        text-decoration:none;
    }
    .und
    {
        cursor:pointer;
    }
    a:hover, .und:hover
    {
        text-decoration:underline;
       
    }
    svg{
        width: 100%;
        height: auto;
    }
    rect {
    fill: #ffd319;
}
h2
	{
		font-size:30px;
		font-weight:50;
        border-bottom:4px solid #ffd319;
	}
    .menu
    {
        padding:24px;
        width:200px;
        margin-left:5rem;
    }
   .nav-list
   {
   padding-left:1rem;
   }
   .nav-item.active:before {
            content: '▶︎';
            margin-right: 5px;
            color: #007BFF;
        }
    .nav-item.active a
    {
        font-weight: bold;
    }

    </style>
    <div class="menu">
<svg class="icon inline w-64 sm:w-40 lg:w-52 2xl:w-60" viewBox="0 0 85 49" fill="none" xmlns="http://www.w3.org/2000/svg"> <path class="words" d="M6.54175 1.95288H4.00366V9H2.43701V1.95288H-0.112305V0.375H6.54175V1.95288ZM7.34473 0.375H8.92261V2.5144H12.2693V0.375H13.8472V9H12.2693V4.10352H8.92261V9H7.34473V0.375ZM18.8447 7.46143C19.3726 7.46143 19.8311 7.34538 20.2205 7.11328C20.6135 6.87744 20.9748 6.48999 21.3042 5.95093L22.4216 6.95044C22.0623 7.55688 21.5644 8.05664 20.928 8.44971C20.2916 8.83903 19.6121 9.03369 18.8896 9.03369C17.7404 9.03369 16.7746 8.61442 15.9922 7.77588C15.2098 6.93734 14.8186 5.91162 14.8186 4.69873C14.8186 3.49333 15.2042 2.46761 15.9753 1.62158C16.7465 0.775553 17.6805 0.356283 18.7773 0.36377C19.9715 0.371257 20.9261 0.807373 21.6411 1.67212C22.3599 2.53312 22.7192 3.65617 22.7192 5.04126H16.4526C16.5275 5.83114 16.8083 6.43197 17.2949 6.84375C17.7853 7.25553 18.3019 7.46143 18.8447 7.46143ZM18.7773 1.94165C18.3543 1.93416 17.9388 2.06519 17.5308 2.33472C17.1265 2.6005 16.8289 2.98983 16.6379 3.50269H20.8662C20.5555 2.47697 19.8592 1.95662 18.7773 1.94165ZM32.1416 0.375H33.8655L30.3335 9.27515L26.8015 0.375H28.531L30.3335 5.03003L32.1416 0.375ZM38.571 9L38.1331 7.8938H35.3928L34.9548 9H33.3489L36.7629 0.0998535L40.177 9H38.571ZM35.9207 6.56299H37.5996L36.7629 4.42358L35.9207 6.56299ZM41.1035 9V0.375H42.6814V7.36597C43.3852 7.27987 44.0702 7.28923 44.7366 7.39404C45.4067 7.49886 45.8783 7.55127 46.1516 7.55127C47.08 7.55127 47.8549 7.37533 48.4763 7.02344L48.9929 8.41602C48.3191 8.80534 47.372 9 46.1516 9C45.8746 9 45.4516 8.95133 44.8826 8.854C44.3136 8.75293 43.724 8.70239 43.1138 8.70239C42.5036 8.70239 41.8335 8.8016 41.1035 9ZM45.854 4.70996H48.3752V6.16992H44.394V0.375H45.854V4.70996ZM54.8945 1.95288H51.2109V4.19336H53.9849L53.7546 5.75439H51.2109V7.42212H54.8945V9H49.6387V0.375H54.8945V1.95288ZM62.9187 0.375L60.0212 5.40063V9H58.4321V5.40063L55.5347 0.375H57.2585L59.2239 3.78906L61.1948 0.375H62.9187ZM70.9709 9.03369C69.8142 9.03369 68.8297 8.61255 68.0173 7.77026C67.205 6.92798 66.7988 5.90413 66.7988 4.69873C66.7988 3.50456 67.205 2.48633 68.0173 1.64404C68.8297 0.798014 69.8142 0.375 70.9709 0.375C72.1202 0.375 73.101 0.798014 73.9133 1.64404C74.7294 2.48633 75.1375 3.50456 75.1375 4.69873C75.1375 5.90413 74.7294 6.92798 73.9133 7.77026C73.101 8.61255 72.1202 9.03369 70.9709 9.03369ZM69.2302 6.51807C69.7094 7.01595 70.2896 7.26489 70.9709 7.26489C71.656 7.26489 72.2344 7.01595 72.7061 6.51807C73.1815 6.02018 73.4192 5.41374 73.4192 4.69873C73.4192 3.99495 73.1815 3.39412 72.7061 2.89624C72.2344 2.39461 71.656 2.1438 70.9709 2.1438C70.2896 2.1438 69.7094 2.39461 69.2302 2.89624C68.7511 3.39412 68.5115 3.99495 68.5115 4.69873C68.5115 5.40999 68.7511 6.01644 69.2302 6.51807ZM81.6343 1.95288H77.9507V4.19336H80.7246L80.4944 5.75439H77.9507V9H76.3784V0.375H81.6343V1.95288Z"></path> <path class="words" d="M3.51074 31.8062C1.31087 29.4347 0.210938 26.6243 0.210938 23.375C0.210938 20.1257 1.31087 17.3203 3.51074 14.959C5.71061 12.5876 8.35954 11.4019 11.4575 11.4019C14.1418 11.4019 16.5384 12.305 18.6475 14.1113L16.0439 17.5474C14.7018 16.4272 13.1427 15.8672 11.3667 15.8672C9.39893 15.8672 7.81462 16.624 6.61377 18.1377C5.42301 19.6413 4.82764 21.387 4.82764 23.375C4.82764 25.363 5.42806 27.1138 6.62891 28.6274C7.82975 30.131 9.40902 30.8828 11.3667 30.8828C13.062 30.8828 14.6211 30.3228 16.0439 29.2026L18.6475 32.6387C16.5384 34.4349 14.1418 35.3381 11.4575 35.3481C8.35954 35.3481 5.71061 34.1675 3.51074 31.8062ZM30.6812 35.0908C27.563 35.0908 24.909 33.9556 22.7192 31.6851C20.5295 29.4146 19.4346 26.6546 19.4346 23.4053C19.4346 20.1862 20.5295 17.4414 22.7192 15.1709C24.909 12.8903 27.563 11.75 30.6812 11.75C33.7791 11.75 36.423 12.8903 38.6128 15.1709C40.8127 17.4414 41.9126 20.1862 41.9126 23.4053C41.9126 26.6546 40.8127 29.4146 38.6128 31.6851C36.423 33.9556 33.7791 35.0908 30.6812 35.0908ZM25.9888 28.3096C27.2804 29.6517 28.8446 30.3228 30.6812 30.3228C32.5278 30.3228 34.0869 29.6517 35.3584 28.3096C36.64 26.9674 37.2808 25.3327 37.2808 23.4053C37.2808 21.5081 36.64 19.8885 35.3584 18.5464C34.0869 17.1942 32.5278 16.5181 30.6812 16.5181C28.8446 16.5181 27.2804 17.1942 25.9888 18.5464C24.6971 19.8885 24.0513 21.5081 24.0513 23.4053C24.0513 25.3226 24.6971 26.9574 25.9888 28.3096ZM48.6636 11.75C53.1945 11.75 56.7718 12.8247 59.3955 14.9741C62.0293 17.1235 63.3462 19.8835 63.3462 23.2539C63.3462 26.6445 62.0243 29.4499 59.3804 31.6699C56.7365 33.89 53.1642 35 48.6636 35H44.6221V11.75H48.6636ZM50.5557 30.7466C51.4639 30.7466 52.3822 30.6053 53.3105 30.3228C54.2389 30.0301 55.1219 29.5962 55.9595 29.021C56.797 28.4357 57.4782 27.6436 58.0029 26.6445C58.5277 25.6455 58.79 24.5153 58.79 23.2539C58.79 22.154 58.6134 21.1701 58.2603 20.3022C57.9172 19.4344 57.4631 18.7381 56.8979 18.2134C56.3429 17.6886 55.687 17.2547 54.9302 16.9116C54.1834 16.5685 53.4518 16.3314 52.7354 16.2002C52.0189 16.069 51.2923 16.0034 50.5557 16.0034H48.8755V30.7466H50.5557ZM80.4658 16.0034H70.5361V22.043H78.0137L77.3931 26.251H70.5361V30.7466H80.4658V35H66.2979V11.75H80.4658V16.0034Z"></path> <rect width="180" height="4" transform="translate(0 44)"></rect> <defs> <clipPath id="clip0_0_1"> <rect width="149.98" height="4.15" fill="white" transform="translate(0 44)"></rect> </clipPath> </defs> <style>
    path {
      fill: black;
    }
    .icon
    {
        width:10rem;
    }

  </style> </svg>

 <h2> The Internet</h2>
 <ol class="nav-list">
    <li class="nav-item" id="intro-item" ><a href="../#">Introduction</a></li>
        <li class="nav-item" id="url-item"><a href="../url">What is a URL</a></li>
        <li class="nav-item" id="port-item" ><a href="../port">What is a port</a></li>
        <li class="nav-item" onclick="handleClick(this)"><a href="#">The DNS protocol</a></li>
        <li class="nav-item" onclick="handleClick(this)"><a href="#">The TCP protocol</a></li>
        <li class="nav-item" onclick="handleClick(this)"><a href="#">The UDP protocol</a></li>
</ol>

<p><span class="und">[← back to the Valley]</span></p>

</div>







